# I dislike these files
.DS_Store
._*
Thumbs.db

# ignore [Neo]Vim temp, backup , and swapfiles
*~
\#*#
*.swo
*.swp

# Ignore test dir
test/**

# Ignore test dir backups
test_dir_backups/*.tgz
test_dir_backups/*.tar.gz
